#carousel_company_swiper {
  width: 90%;
  margin: auto;
  /* margin-top: 250px; */
  margin-bottom: 150px;
}

.carousel_wrapper_item {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.carousel_img_wrapper {
  width: 40%;
}
.content_carousel {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.content_carousel p:nth-child(2) {
  margin-bottom: 20px;
  font-size: 30px;
}
