.mission_values_wrapper {
  width: 90%;
  margin: auto;
}
.mission_values_image_wrapper {
  width: 100vw;
  margin-left: -72px;
}
.mission_values_image_wrapper img {
  width: 100%;
}
.mission_values_content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-top: 50px;
}
.mission_values_content h5 {
  font-size: 36px;
}
.mission_values_content h6 {
  font-size: 32px;
}
